.ThreeZeroInstallment-Section1-bg2 {
    display: none;
  }
  .ThreeZeroInstallment-Section1-bg1 {
    display: block;
  }
  
  .ThreeZeroInstallment-Section1-ContainerBox {
    width: 60vw;
    margin: auto;
    padding: 20px 0;
  }
  .ThreeZeroInstallment-Section1-ContainerBox-image {
    width: 60vw;
    display: block;
    margin: auto;
  }
  @media (max-width: 1000px) {
    .ThreeZeroInstallment-Section1-bg2 {
      display: block;
    }
    .ThreeZeroInstallment-Section1-bg1 {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .ThreeZeroInstallment-Section1-ContainerBox {
      width: 95vw;
      margin: auto;
    }
  }
  